doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      #header.
        <div class="topnav">
          <div class="navbar navbar-inverse navbar-fixed-top st">
            <div class="container">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand st" href="/">
                Embedit.io
              </a>

              <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </div>
        </div>
      #masthead
      #content
        #left
        #right
      #footer
      hr
      footer
        p &copy; Embedit 2013 | Created by 
          a(href="http://twitter.com/billcurtis_", target="_blank", data-bypass="true") @billcurtis_

    #templates
      include templates

    .jslibs.
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
      <script src="js/vendor/bootstrap.min.js"></script>
      <script src="js/vendor/underscore-min.js"></script>
      <script src="js/vendor/backbone-min.js"></script>

      <!-- TODO: Split views up into their own files for organization, but also add in minify/combining of these files for performance -->
      <script src="js/app/models/models.js"></script>
      <script src="js/app/views/views.js"></script>
      <script src="js/app/app.js"></script>

      <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
