doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #header
    #masthead
      .masthead
        h1 Embed anything on the web with a single API
        p Embedit.io provide a simple and consistent API to retrieve properties of any website for quick and consistent embedding on your site.
    #content
      #left
      #right
    #footer
    hr
    footer
      p &copy; Embedit 2013 | Created by @billcurtis_

    .templates

    .jslibs.
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
      <script src="js/vendor/bootstrap.min.js"></script>
      <script src="js/vendor/underscore-min.js"></script>
      <script src="js/vendor/backbone-min.js"></script>
      <script src="js/vendor/bbgrid.js"></script>
      <script src="js/main.js"></script>

      <!-- TODO: Split views up into their own files for organization, but also add in minify/combining of these files for performance -->
      <script src="js/app/models/models.js"></script>
      <script src="js/app/views/views.js"></script>
      <script src="js/app/app.js"></script>

      <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
