script#masthead-template(type="text/template").
  <div class="masthead">
    <h1>Embed anything. Scrape nothing.</h1>
    <p>Embedit provides a simple and unified API for retrieving metadata from any website. Trade a URL for rich metadata instantly.</p>
    <div class="tryit">
      <form action="#" method="get" class="form-horizontal">
        <div class="input-group input-group-lg">
          <input class="url-input form-control input-lg" type="text" placeholder="Enter a URL or select a platform below">
          <span class="input-group-btn">
            <button class="btn btn-default btn-embedit" type="button" data-loading-text="Embedding..">Embedit!</button>
          </span>
        </div>
      </form>
    </div>
    <div class="supported-brands clearfix">
      <% _.each(supportedBrands, function(brand) { %>
        <a href="#" data-key=<%= brand %>>
          <img src="/img/logo-<%= brand %>.png">
        </a>
      <% }); %>
    </div>
    <div class="supported-brands-text">Officially supported platforms</div>
  </div>

script#content-template(type="text/template").
  <div class="content row">
    <div id="left" class="col-sm-6"></div>
    <div id="right" class="col-sm-6"></div>
  </div>

script#embedded-template(type="text/template").
  <div class="embedded">
    <div class="panel">
      <div class="panel-heading"><%= data.title || '&nbsp;' %></div>
      <div class="panel-body">
        <div class="embed"><%= data.embed %></div>
        <p><%= data.description %></p>
      </div>
    </div>
  </div>

script#json-template(type="text/template").
  <div class="json">
    <div class="panel">
      <div class="panel-heading">
        <span class="with-url">
          GET <a href="/api/scrape?url=<%= url %>" target="_blank" data-bypass="true">/api/scrape?url=<%= url %></a>
        </span>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item with-url">{</li>
          <% 
            var keys = _.keys(data);
            _.each(keys, function(key) { 
            var value = data[key];
          %>
            <li class="list-group-item json-item" data-key=<%= key %>><pre><span class="json-key"><%= key %></span>: <%= _.escape(value) %></pre></li>
          <% }); %>
          <li class="list-group-item with-url">}</li>
        </ul>
      </div>
    </div>
  </div>