script#masthead-template(type="text/template").
  <div class="masthead">
    <h1>One API to embed anything on the web</h1>
    <p>Embedit.io provide a simple and consistent API to retrieve properties of any website for quick and consistent embedding on your site.</p>
    <div class="tryit">
      <form action="#" method="get" class="form-horizontal">
        <div class="input-group">
          <input class="url-input form-control input-lg" type="text" placeholder="http://www.youtube.com/watch?v=rtUcsroeucg">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Embedit!</button>
          </span>
        </div>
      </form>
    </div>
  </div>

script#embedded-template(type="text/template").
  <div class="embedded">
    <h4>One API to embed anything on the web</h4>
    <p>Embedit.io provide a simple and consistent API to retrieve properties of any website for quick and consistent embedding on your site.</p>
  </div>