
/**
 * Layout
 */

a {
    color: #777777;
}

footer {
	text-align: center;
}

.focused {
	outline-color: rgb(91, 157, 217);
	outline-style: auto;
	outline-width: 5px;
}

.navbar-brand {
	font-family: 'Chau Philomene One', sans-serif;
}

/**
 * Masthead
 */
#masthead {
	margin-top: 50px;
}

.masthead {
	position: relative;
	padding: 30px 15px;
	text-align: center;
	background-image: url('/img/textures/cartographer.png');
	color: white;

	margin-left: -10000px;
	margin-right: -10000px;
	padding-left: 10015px;
	padding-right: 10015px;
}

.masthead h1 {
  font-size: 50px;
  line-height: 1;
}

.masthead p {
	opacity: 0.7;
}

.masthead .tryit {
	max-width: 540px;
	margin: auto;
	margin-top: 50px;
}

.masthead .url-input,
.masthead .input-group-lg > .input-group-btn > .btn {
	height: 55px;
}

.masthead .supported-brands {
	display: inline-block;
	margin-top: 20px;
}

.masthead .supported-brands img {
	float: left;
	width: 40px;
	margin-left: 8px;
	border-radius: 4px;
	opacity: 0.8;
}

.masthead .supported-brands-text {
	font-size: 12px;
	opacity: 0.7;
}

.masthead .supported-brands img:hover {
	opacity: 1;
}

.masthead .supported-brands a:first-child img {
	margin-left: 0px;
}

/**
 * Content
 */
.content {
	margin-top: 30px;
}


/**
 * Embedded
 */
.embedded .embed iframe {
	width: 100%;
}

.embedded .panel {
	min-height: 400px;
}

.embedded .panel-heading img {
	width: 30px;
	border-radius: 2px;
	margin-right: 10px;
	position: relative;
	top: -4px;
}

/**
 * Json
 */
.json {
	font-size: 12px;
}

.json .panel {
	min-height: 400px;
}

.json pre {
	font-size: 12px;
}

.json .list-group-item {
	background-color: transparent;
	border: transparent;
	padding: 0;
	border-radius: 4px;
}

.json .json-item:hover {
	background-color: #D6D6D6;
}

.json .list-group-item pre {
	margin-bottom: 0;
	border: 0px;
	background-color: transparent;
}

.json .json-key {
	color: rgb(0, 0, 156);
}


@media screen and (min-width: 768px) {

  .masthead {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .masthead h1 {
    font-size: 50px;
  }

  .masthead p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    margin-top: 10px;
  }
}